#app {
  font-size: 16px;
  line-height: 1.29412;
  font-weight: 400;
  letter-spacing: -.021em;
  font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
  height: 100vh;
}
a {
  cursor: pointer;
}
.mb-r5 {
  margin-bottom: 5rem;
}